---
// PostNav - previous/next post navigation at bottom of article

interface PostLink {
  title: string;
  abbrlink: string;
}

interface Props {
  prevPost?: PostLink;
  nextPost?: PostLink;
}

const { prevPost, nextPost } = Astro.props;
---

{(prevPost || nextPost) && (
  <div class="post-prevnext my-3" aria-label="文章导航">
    <article class="post-prev col-6">
      {prevPost && (
        <a href={`/posts/${prevPost.abbrlink}.html`} title={prevPost.title}>
          <i class="iconfont icon-arrowleft"></i>
          <span class="hidden-mobile">{prevPost.title}</span>
          <span class="visible-mobile">上一篇</span>
        </a>
      )}
    </article>
    <article class="post-next col-6">
      {nextPost && (
        <a href={`/posts/${nextPost.abbrlink}.html`} title={nextPost.title}>
          <span class="hidden-mobile">{nextPost.title}</span>
          <span class="visible-mobile">下一篇</span>
          <i class="iconfont icon-arrowright"></i>
        </a>
      )}
    </article>
  </div>
)}
